@import "../../index.scss";

.home {
	// display: grid;
	// grid-template-rows: auto 1fr auto;
	margin: 0;
	overflow: hidden;
	min-height: 100vh;
	background-image: linear-gradient(to top, #485563 0%, #29323c 100%);

	@media (max-width: 390px) {
	}
}
